
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="css/master.css">

</head>
<body>
 <%- include('./partials/nav.ejs')%>
    <div class="container-center">
        <img class="mb-1" src="/img/loginlogo.png" alt="" width="200" height="200">
        <input class="btn" type="button" onclick="location.href='/complaints';" value="Create a new complaint" />
        <input class=" btn" type="button" onclick= "location.href='/complaints/all-complaints'" value="View all Complaints" />
        <input class=" btn" type="button" onclick="location.href='/medical-records';" value="View Medical Records" />
    </div>
</html>